<ons-toolbar>
    <div class="center">トークリスト</div>
</ons-toolbar>

	<ons-list>
		<ons-list-item modifier="tappable" class="list-item-container item" ng-click="myNavigator.pushPage('new_page.html')">
			<ons-row>
				<ons-col width="60px"> 
					<img src="img/icon_mamiya.jpg" class="talk-icon">
				</ons-col>
					<div class="item-title">間宮春一</div>
					<!--<span class="item-label">4h</span>-->
					<p class="item-desc">トーク内容</p>
				</ons-col>
			</ons-row>                          
		</ons-list-item>
            
		<ons-list-item modifier="tappable" class="list__item__line-height item" ng-click="myNavigator.pushPage('new_page.html')">
			<ons-row>
				<ons-col width="60px"> 
					<img src="img/icon_mamiya.jpg" class="talk-icon">
				</ons-col>
					<div class="item-title">間宮春一</div>
					<!--<span class="item-label">4h</span>-->
					<p class="item-desc">トーク内容</p>
				</ons-col>
			</ons-row>                          
		</ons-list-item>
	</ons-list>
	
<!--<div style="text-align: center">
    <br />
    <ons-button 
        ng-click="myNavigator.pushPage('new_page.html')">
        Push New Page
    </ons-button>
</div>-->
